* {
  margin: 0px;
  padding: 0px;
}

.main {
  background-image: url(/images/yelo.jpg);
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 109vh;
}

.logo {
  padding-left: 50px;
  color: black;
  padding-top: 20px;
  font-family: sans-serif;
  font-weight: normal;
  float: left;
}

ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  padding-left: 30px;
  margin-left: 72px;
  margin-top: 30px;
  font-size: 15px;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-family: Arial;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

ul li a:hover {
  color: gray;
}

.se {
  float: left;
  padding-left: 150px;
  margin-top: 20px;
}

.srch {
  background: transparent;
  width: 200px;
  height: 40px;
  border: 1px solid black;
  border-right: none;
  font-family: sans-serif;
  font-size: 14px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn {
  width: 100px;
  height: 40px;
  background: black;
  border: 1px solid white;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: 0.4s ease;
}

.btn:hover {
  background: chocolate;
}

.btn:focus {
  outline: none;
}

.serch:focus {
  outline: none;
}

.hea {
  float: right;
  position: relative;
  padding-right: 100px;
  margin-top: 100px;
  font-size: 25px;
  font-family: Arial;
}

.pra {
  line-height: 1.5em;
  color: white;
  padding-top: 20px;
}

.btnn {
  width: 130px;
  height: 40px;
  margin-top: 20px;
  color: white;
  background: black;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btnn:hover {
  background: chocolate;
}

.form {
  width: 300px;
  height: 400px;
  background: #f4a950;
  margin-left: 100px;
  margin-top: 140px;
  position: absolute;
  color: black;
  border-radius: 20px;
}

.form h2 {
  text-align: center;
  margin-top: 20px;
  background: chocolate;
  width: 200px;
  height: 40px;
  margin-left: 50px;
  padding-top: 10px;
  border: 1px solid white;
  border-radius: 5px;
}

.form input {
  margin-left: 65px;
  margin-top: 40px;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  color: black;
}

.form input:focus {
  outline: none;
}

.btnw {
  margin-left: 50px;
  margin-top: 30px;
  text-align: center;
  width: 200px;
  height: 30px;
  background: chocolate;
  border: none;
  border-radius: 6px;
  border: 1px solid white;
  cursor: pointer;
  font-family: sans-serif;
  transition: 0.4s ease-in-out;
}

.btnw:hover {
  background-color: whitesmoke;
}

.link {
  text-align: center;
  margin-top: 20px;
}

.link a {
  color: chocolate;
}

.lo {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.icon {
  padding: 20px;
  font-size: 25px;
  margin-left: 35px;
  letter-spacing: 0.9em;
  transition: 0.5s ease-in-out;
}

a:hover {
  color: black;
}
